[z_tilt]
  z_positions:
    -26, 117.5
    260, 117.5
  points:
    40, 117.5
    220, 117.5
  speed: 100
  horizontal_move_z: 10
  retries: 10
  retry_tolerance: 0.04
# --- NEU & EMPFOHLEN ---
# Hilft Klipper, die Korrekturen sanfter anzuwenden (verhindert Aufschwingen)
splitting_passes: 2 

# Präzision der Motoren (Standard für Ender 3 Motoren)
full_steps_per_rotation: 200
