# ====================================================================
#   ADXL345 BESCHLEUNIGUNGSSENSOR - Y-ACHSE (KUSBA PRO / STM32)
# ====================================================================

[mcu kusba]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_150032000A504B5735313920-if00

[adxl345 adxl_y]
cs_pin: kusba:PA4
spi_bus: spi1